<div class="d-flex flex-column align-items-center mt-5">
  <h2>http://localhost:3000/<strong style="color: red;">{{ shortenUrl }}</strong> , 無效連結</h2>
  <h2>請輸入正確網址</h2>
  <a href="/" type="button">back</a>
</div>