<div>
  <form action="/result" method="post">
    <input type="url" class="form-control" name="URL" placeholder="Input URL here" required>
    <button type="submit" class="btn btn-outline-primary" style="margin-top: 10px;">Shorten</button>
  </form>
</div>